<settings>
    <servers>
        <server>
            <id>gitlab-maven</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Deploy-Token</name>
                        <value>2ZD1_dz8fj-sJGCc9Grk</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>